RewriteEngine On    # Turn on the rewriting engine
RewriteRule    ^kereso/?$   kereso.php    [NC,L]    # Handle product requests
RewriteRule    ^display/([0-9,a-z]+)?$   display.php?id=$1    [NC,L]    # Handle product requests